/* Adding Font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.none{
    display:none;
}
.c-btn{
    font-size: 20px;
font-weight: 700;
    color: aliceblue;
    width: 197px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background: black;
}
.o {
    color: orange;
}
.s {
    color: skyblue;
}
.f {
    color: rgb(5, 212, 223);
}
.a {
    color: rgb(93, 88, 239);
}
/*Header BG */
.headder{
    background-color: rgb(247, 247, 247);
}
/* Navbar */
.scl-logo {
    display: flex;
    align-items: center;
}

.menu-icon {
    display: none;
    flex-direction: column;
    gap: 5px;
}

.navbar {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
   
}

.option > div > a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

#o-btn {
    font-size: 20px;
font-weight: 700;
color: aliceblue;
    width: 197px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background: rgb(254, 163, 1);
}

.option {
    display: flex;
    gap: 32px;
}
/* Banner Part */
.title{
    font-weight: 700;
    font-size: 56px;
}
.b-d{
    font-weight: 400;
}
.b-contents{
    align-items: center;
    margin-top: 122px;
    margin-bottom: 122px;
    width: auto;
max-width: 640px;
   
}
.b-img>img{
    width: 390;
    height: auto;
}
.banner-container{
    /* border: 1px solid tan; */
   /* display: grid;
   grid-template-columns: repeat(2,1fr); */
   display: flex;
   justify-content: center;
   width: auto;
   /* max-width: 1158px; */
   
   height: auto;
   /* max-height: 575px; */

}
.b-d{
    font-weight: 400;
}

/* MAin Part */

main{
    background-image: url("assets/bg.png");
    /* max-width: 1440px; */
    width: 100%;
    height: auto;
    margin: 0 auto;
}
/* S1 */
.S1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.c-container{
    display: flex;
    gap: 20px;
}
.c{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 367.8px;
height: 476.78px;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.c>a{
    text-decoration: none;
}
.c-ti{
font-size: 24.52px;
font-weight: 700;
}
.c-des{
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 15.09px;
    font-weight: 500;
}
.two-circle{
    margin-top: 80px;
    margin-bottom: 60px;
}
.circle{
    font-weight: 900;
    font-size: 24px;
    color: rgb(255, 255, 255);
width: 60px;
height: 60px;
background: rgb(254, 163, 1);
border-radius: 30px;
border: none;
}
/* S2 */
.S2{
    background:
    linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lurma-btn {
    width: 10.91rem; /* 174.51px / 16 */
    height: 2.995rem; /* 47.93px / 16 */
    border-radius: 2.995rem; /* 47.93px / 16 */
    position: relative;
    left: 2.396rem; /* 38.35px / 16 */
    bottom: 1.875rem; /* 30px / 16 */
    border: none;
}

/* Lurma Btn Colour */
#s{
    background-color: rgb(60, 216, 232);
}
#j{
    background-color: rgb(149, 178, 38);
}
#n{
    background-color: rgb(93, 88, 240);
}

.large-one{
width: 540.27px;
height: 630.52px;
border-radius:16px ;
background: rgb(255, 255, 255);

}
.four-one{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 15px;
   
}
.f4> div>img{
    width: 100%;
    height: 50%;
}


.f4{
    max-width: 290.69px;
    max-height: 301.61px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
}
.container{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-content: center;
    margin-bottom: 80px;
}

/* Footer Part */

.footer{
    width:auto;
    background-color:rgb(1, 172, 253);
    height:600px;
   
   
    
    
}
.f-1{
    display: flex;
    flex-direction: column;
}
.f-1x>img{
    width: 82.9px;
    height: 81.65px;
}
.f-1x{
    display: flex;
    align-items: center;
}
.f-container{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding-top: 180px;
   
}
.f-container>div{
   
    color: rgb(255, 255, 255);

}

.f-des{
    
    font-size: 20px;
    font-weight: 400;
    width: 399.02px;
    height: 100px;
}
/* Media Query for Small Screens */
@media screen and (max-width:576px) {
    
    .option, .btn, .scl {
        display: none;
    }
    .scl-logo {
        display: flex;
    }
    .menu-icon {
        display: flex; 
        width: 30px;
        height: 30px;
       
    }
    .scl-logo img {
        width: 50px; 
        height: auto;
    }
    .navbar{
        justify-content: space-between;
        border-bottom: 1px solid orange;
    }
    .banner-container{
        text-align: center;
        flex-direction: column-reverse;
        overflow-x: hidden;
    }
    .b-img>img{
        width: 336.58px;
height: 413px;
    }

    .c-container{
        flex-direction: column;
    }
    
    .S1>h1 {
        font-size: 26px;
    }
    .two-circle{
        display: none;
    }

    .large-one{
        display: none;
    }
    .f4>img{
        width: 173.27px;
        height: 105.39px;
    }
    .four-one>.f4{
        width: 173.09px;
    height: 179.59px;
    }
    .f4>.lurma-btn{
        width: 103.91px;
    height: 22.83px;
    left: 22.83px;
    top: -19px;
    font-size: 10px;
    font-weight: 500;
    }
    .f4>h3{
        font-size: 9.13px;
    font-weight: 700;
    line-height: 17.12px;
    margin: 0px 36px 19px 22px;
    }
    .f4{
        display: grid;
        
    }
    .four-one{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 10px;
    }

    .f-container{
        flex-direction: column;
        gap: 30px;
        margin-left: 20px;
    }
    .f-des{
        width: 357px;
        height: 80px;
    }
    .f-1{
       margin-top: -130px;
       
    }

    
}
